.hello{
  margin-top: 60px;
  display: flex;
  ;
  justify-content: center;
  justify-items: center;
}
.hey{
  padding: 50px;
  margin: 20px;
  border: 2px solid black;
  border-radius: 20px;
  cursor: pointer;
}
.hey:hover{
  background-color: rgba(1, 255, 111, 0.527);
}
body{
  background-color: rgb(116, 221, 116);
}
.head{
  text-align: center;
  margin-top: 20px;
  text-decoration: underline;
}
#score{

  justify-content: center;
  text-align: center;
}
.am{
  padding: 20px;
  margin: 20px;
  border: 2px solid black;
  border-radius: 20px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  cursor: pointer;

}
.say{
  display: flex;
  justify-content: center;
}
.am:hover{
  background-color: rgba(243, 16, 255, 0.527);
}